name: Nixvim CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  flake-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v25
        with:
          nix_version: latest
          extra_nix_config: |
            experimental-features = nix-command flakes
            accept-flake-config = true

      - run: nix --version

      - name: Flake check
        run: nix flake check --show-trace

      - name: Build nixvim package
        run: nix build .#default --show-trace
